//theme light//
$light-project-img-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$light-gallery-img-bg: #06171f;
$light-gallery-img-border: black;
$light-gallery-img-color: #6a747c;
$light-gallery-img-borderleft: green;
$light-h-color: wheat;
$light-h-textshadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-h-border-color: #000; 
$light-tech-li-bg: #333;
$light-tech-li-color: #ddd;
$light-project-link-bg: #333;
$light-project-link-color: #ddd;
$light-project-hover-link-bg: #ff6600;
$light-gallery-img-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
$light-blockquote-bg:#06171f;
$light-blockquote-color: #6a747c;
$light-blockquote-border-left: 4px solid green;
$light-testimonial-color: green;
$light-testimonial-h3-color: wheat;
$light-testimonial-h3-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-testimonial-h3-bordercolor: #000;
$light-p-bg:#06171f;
$light-p-color: #6a747c;
$light-p-border-color: 4px solid green;

//theme dark//
$dark-project-img-shadow: 0 4px 8px rgba(12, 77, 4, 0.1);
$dark-gallery-img-bg: black;
$dark-gallery-img-border: green;
$dark-gallery-img-color: green;
$dark-gallery-img-borderleft: 4px solid darkred;
$dark-h-color: #056415;
$dark-h-textshadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-h-border-color: #000; 
$dark-tech-li-bg: black;
$dark-tech-li-color: green;
$dark-project-link-bg: #333;
$dark-project-link-color: #ddd;
$dark-project-hover-link-bg: #ff6600;
$dark-gallery-img-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
$dark-blockquote-bg:black;
$dark-blockquote-color: green;
$dark-blockquote-border-left: 4px solid darkred;
$dark-testimonial-color: darkred;
$dark-testimonial-h3-color: green;
$dark-testimonial-h3-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-testimonial-h3-bordercolor: #000;
$dark-p-bg:black;
$dark-p-color: green;
$dark-p-border-color: 4px solid darkred;