//light //
$light-selezione-p-color: wheat;
$light-selezione-p-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-selezione-p-border:#000;
$light-select-hover-bg: #06171f;
$light-select-hover-color:green;
$light-select-hover-border:green;
$light-hr-border: 1px solid #06171f;
$light-h2-color:wheat;
$light-h2-shadow:1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-h2-border:#000;
$light-project-border:1px solid black;
$light-project-bg:#06171f;
$light-project-color:#6a747c;
$light-project-boxshadow:0 2px 10px rgba(0, 0, 0, 0.1);
$light-button-bg:green;
$light-button-color:white;
$light-button-hover-bg:darkgreen;
$light-button-hover-color: black;

//dark//
$dark-selezione-p-color: green;
$dark-selezione-p-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-selezione-p-border:#000;
$dark-select-hover-bg: black;
$dark-select-hover-color:green;
$dark-select-hover-border:green;
$dark-hr-border: 1px solid green;
$dark-h2-color:green;
$dark-h2-shadow:1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-h2-border:#000;
$dark-project-border:1px solid green;
$dark-project-bg:black;
$dark-project-color:green;
$dark-project-boxshadow:0 2px 10px rgba(0, 0, 0, 0.1);
$dark-button-bg:darkred;
$dark-button-color: black;
$dark-button-hover-bg:darkblue;
$dark-button-hover-color: white;
