/// Light Theme Colors
$light-bg: white;
$light-header-bg: #f8f8f8;
$light-header-text: #333;
$light-nav-after: #333;
$light-nav-button-bg: #06171f;
$ligh-nav-button-text: #6a747c;
$light-hs-text: wheat;
$light-hs-text-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-hs-text-border: #000;
$light-footer-bg: #f1f1f1;
$light-footer-text: #333;
$light-footer-logotext-shadow:1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-footer-logo-text: #626a70;
$light-footer-link: #333;
$light-footer-hr-border: 2px solid #ccc;
$light-footer-terms: #333;

// Dark Theme Colors
$dark-bg: #000000;
$dark-text-h1: #056415;
$dark-header-bg: #0e0d0d;
$dark-header-link: #056415;
$dark-nav-button-bg: #056415;
$dark-nav-button-text: #000;
$dark-hs-text: darkgreen;
$dark-footer-text: #e0e0e0;
$dark-footer-bg:#0e0d0d;
$dark-footer-hr-border: 2px solid #056415;
