//theme contatti light//
$light-form-border: 2px double #626a70;
$light-form-bg: silver;
$light-h2-color: wheat;
$light-h2-textshadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-label-color: #000;
$light-label-textshadow: 1px 1px 0 wheat, 2px 2px 0 #888888, 3px 3px 0 wheat;
$light-button-bg: #06171f;
$light-button-color: #6a747c;
$light-input-hoover-bg: #626a70;
$light-input-hoover-color: wheat;
$light-select-hoover-bg: #626a70;
$light-select-hoover-color: wheat;
$option-hover-bg: #626a70;

//theme dark//
$dark-form-border: 2px double #056415;
$dark-form-bg: black;
$dark-h2-color: #056415;
$dark-h2-textshadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-label-color: #056415;
$dark-label-textshadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-button-bg: #056415;
$dark-button-color: wheat;
$dark-input-hoover-bg: #056415;
$dark-input-hoover-color: black;
$dark-select-hoover-bg: #056415;
$dark-select-hoover-color: black;
$dark-option-hover-bg: black;