//theme light//
$light-html-bg: white;
$light-hs-button-bg:#f8f8f8;
$light-hs-buttonhover-bg:#9d9797;
$light-hs-button-color: #0f0f0f;
$light-aboutme-bg: #f5f5f5;
$light-aboutme-border:2px solid #0f0f0f;
$light-servizi-h-color: wheat;
$light-servizi-h-border: #000;
$light-servizi-h-shadow:1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$light-categoria-border: 1px solid #ddd; 
$light-categoria-boxshadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
$light-categoria-link-bg: #06171f; 
$light-categoria-link-color: white;
$light-categoria-link-hover-color: black;
$light-categoria-link-hover-bg:darkblue;
$light-feedback-h2-color: wheat;
$light-feedback-h2-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$lighr-valutazione-border: 2px solid #000;
$lighr-valutazione-bg: #f5f5f5;
$light-valutazione-border-bottom:  2px solid #000;

//theme dark//
$dark-html-bg: black;
$dark-hs-button-bg:#056415;
$dark-hs-buttonhover-bg:#9d9797;
$dark-hs-button-color: white;
$dark-hs-buttonhover-color:black;
$dark-aboutme-bg: black;
$dark-aboutme-border:2px solid #056415;
$dark-servizi-h-color: #056415;
$dark-servizi-h-border: #000;
$dark-servizi-h-shadow:1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-categoria-border: 1px solid #056415; 
$dark-categoria-boxshadow: 0px 4px 6px rgba(24, 145, 8, 0.1); 
$dark-categoria-link-bg: #056415; 
$dark-categoria-link-color: black;
$dark-categoria-link-hover-color: white;
$dark-categoria-link-hover-bg:darkblue;
$dark-feedback-h2-color: #056415;
$dark-feedback-h2-shadow: 1px 1px 0 #000, 2px 2px 0 #333, 3px 3px 0 #000;
$dark-valutazione-border: 2px solid #056415;
$dark-valutazione-bg: black;
$dark-valutazione-border-bottom:  2px solid #056415;